<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">

<head>

  <meta charset="UTF-8">
    <div>
        <div id="dragObjects2">
         <img src="{{ url_for('static', filename='img/noop.png') }}" name="NoOp"></img>
            <img src="{{ url_for('static', filename='img/answer.png') }}" name="answer"></img>
            <img src="{{ url_for('static', filename='img/dial.png') }}" name="Dial"></img>
            <img src="{{ url_for('static', filename='img/goto.png') }}" name="goto"></img>
        </div>
        <p>
            <img src="{{ url_for('static', filename='img/ball.svg') }}" style="margin-left:100px" id="trash2"><br>
        </p>
    </div>

</head>
<script src="{{ url_for('static', filename='js/DragObject.js') }}"></script>
<script src="{{ url_for('static', filename='js/DropTarget.js') }}"></script>
<script src="{{ url_for('static', filename='js/dragMaster.js') }}"></script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script>
onload = function() {
    var dragObjects = document.getElementById('dragObjects2').getElementsByTagName('img')
    for(var i=0; i<dragObjects.length; i++) {
        new DragObject(dragObjects[i])
    }

    new DropTarget(document.getElementById('trash2'))
}
</script>
</html>