<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
     <ul class="topnav" id="myTopnav">
  <li><a href="{{ url_for('.show', page='test') }}">Home</a></li>
  <li><a href="{{ url_for('.show', page='form_submit') }}">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li class="icon">
       <script>function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}</script>
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>
</head>
<body>

</body>
</html>